* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none; 
    box-sizing: border-box; 
}

/*Principal*/

header{
    display: flex;
    height: 70px;
    padding: 10px;
    align-items: center;
    background: rgb(255, 255, 255);
    
}
.fondo{
    background-color: black;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

.logo{
    display: flex;
    transition: 1.8s;
}

.logo img{
    width: 50px;
    
}
.logo:hover{
    transform: scale(1.1);
    transition: 1.5s;
}


h1 {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 3em;
    margin: 10px;
    text-align: center;
    transition: 1.5s;
}
h1:hover{
    transform: scale(1.1);
    transition: 1.5s;
}

.namaste {
    position: absolute;
    left: 100px;
    top: 100px;
    display: flex;
    flex-direction: column;
    color: rgb(15, 9, 9);
    width: 65%;
    height: 100%;
    justify-content: center;
    text-align: justify;
    z-index: 1;
    font-size: 2rem;
}
@media(min-width: 768px) {
    .namaste {
        font-size: 2.2rem;
    }

@media(min-width: 768px) {
    .fondo {
        display: flex;
        justify-content: space-between;
    }
}

/*TIPOS DE YOGA*/

.btn{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding: 1rem 5rem;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

@media(min-width: 768px) {
    .btn{
        font-size: 2.2rem;
    }
}
.bordes{
    border: 3px solid white;
}
@media(min-width: 768px) {
    .bordes{
        border: 4px solid white;
    }
}

.bordes:hover{
    color: rgb(46, 186, 46);
    background-color: white;
}
.btn-rojo{
    background-color: rgb(7, 85, 19);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    display: flex; 
    justify-content: center;
 
}
.btn-rojo:hover{
    background-color: rgb(164, 246, 164);
    border-color: rgb(7, 85, 19);
}

/*video*/

.contenido-header{
    position: relative;
}

.contenido-header::before{
    content: '';
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.203);
}

.texto-encabezado{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texto-encabezado h2{
    color: white;
    font-size: 4rem;
}

@media(min-width: 768px) {
    .texto-encabezado h2{
        font-size: 8rem;
    }
}

video{
    width: 100%;
    height: 100%;
}

/*sobre nosotros*/

.contenedor-nosotros{
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
}
@media(min-width: 768px) {
    .contenedor-nosotros{
        display: flex;
         justify-content: space-between;
    }   
}
.texto-nosotros, .imagenes-nosotros{
    flex: 0 0 calc(50% - 1rem) ;
}
.texto-nosotros .bienvenida{
    font-size: 4rem;
    color: green;
    text-align: center;
}
@media(min-width: 768px) {
    .texto-nosotros .bienvenida{
        text-align: left;
    }
}
.texto-nosotros h1{
    font-size: 5rem;
    text-align: center;
}
@media(min-width: 768px) {
    .texto-nosotros h1{
        text-align: left;
    }
}
.texto-nosotros p{
    font-size: 1.5rem;
    text-align: center;
}
@media(min-width: 768px) {
    .texto-nosotros p{
        text-align: left;
    }
}
.imagenes-nosotros{
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}
.imagenes-nosotros img{
    border-radius: 5px;
}

.imagen1, .imagenes2{
    flex: 0 0 calc(50% - 1rem);
    margin: auto;
}
.imagenes2 img{
    margin-bottom: 1.5rem;
}
.menu{
    padding-top: 4rem;
}
/*Mapas*/
.encontrar{
    text-align: center;
    font-size: 4rem;
}

.mapas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 3em;
}
.mapa{
    flex: 0 0 calc(33.3% - 4rem);
    border: 1.5px solid #e1e1e1;
    padding: 2em;
    border-radius: 5px;

}
  
/*CONTACTOS*/

/*Contacto Form*/

#div-seccion-contacto {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
    min-height: 800px;
    max-height: 1000px;
    height: 1000px;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.img-fondo-section-form {
    text-align: center;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    position: relative;
    max-width: 100%;
    width: 8000px;
    height: 100%;
    vertical-align: top, middle, bottom;
}

#seccion-contacto {
    position: absolute;
    right: 10px;
    width: 35%;
    margin: auto;
    /*max-width: 80%;*/
    max-height: 80%;
    /*min-width: 50%;*/
    min-height: 50%;
    margin: 0 auto;
    border-style: groove;
    border-color: rgb(79, 79, 79);
    background-color: #f2f2f2;
    padding: 20px;
}

#contacto-form-list {
    list-style-type: none;
    padding: 10;
}

#contacto-title {
    text-align: center;
    padding: 1em;
}

#contacto-form-list li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}

#contacto-form-list li label {
    padding: 1px;
    font-weight: 800;
    letter-spacing: .09em;
    text-transform: uppercase;
}

#contacto-form-list li button {
    /*margin-left: auto;*/
    margin: auto;
    padding: 8px 16px;
    border: none;
    background: green;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 20px;
}

#contacto-form-list>li {
    margin-bottom: 20px;
}
/* GALERIA */
.galeria{
    font-family: 'open sans';
}

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
  
}

.linea{
    border-top: 5px solid #c08300;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(193, 179, 70, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    
}

.overlay a{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    
    
}


.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: rgb(0, 0, 0);  
}

.footer-siganos{
    color: white;
}

.footer-list{
    display: flex;
    row-gap: 0.25rem;
    list-style:none ;
    align-items: center;
   
}
.footer-BA{
    color:white;
}
